﻿@using OldRecordsService.Models.RecordModels
@using PagedList.Mvc;

@model RecordListViewModel

@{
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

@{
    ViewBag.Title = "Архив резюме";
}


<div class="container-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header-wrapper">
                    <h1 class="content-header">Результаты поиска (Найдено резюме: @Model.CountRecords шт)</h1>
                    <div class="content-header-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-button-wrapper">
                    <div class="popover-wrapper">
                        <div class="select-count-row-wrapper">
                            <div class="select-count-row-label">
                                <label for="select-count-row">Количество строк</label>
                            </div>
                            @{
                                string selected20 = "";
                                string selected50 = "";
                                string selected100 = "";
                                string selectedAll = "";
                                switch (Model.Filters.PageSize)
                                {
                                    case 20:
                                        selected20 = "selected";
                                        break;
                                    case 50:
                                        selected50 = "selected";
                                        break;
                                    case 100:
                                        selected100 = "selected";
                                        break;
                                    default:
                                        selectedAll = "selected";
                                        break;
                                }
                            }
                            <select id="select-count-row" name="select-count-row">
                                <option @selected20 value="count-row-20">20</option>
                                <option @selected50 value="count-row-50">50</option>
                                <option @selected100 value="count-row-100">100</option>
                                <option @selectedAll value="count-row-all">Все</option>
                            </select>
                        </div>
                        <button id="popover-button-0" class="btn-table btn-standart btn-blue">Настроить столбцы</button>
                        <div id="container-popover-0" class="container-popover popover-right hide">
                            <div class="container-list">
                                <div class="block-list-item">
                                    <div class="block-list-title">Отображать столбцы:</div>
                                </div>
                                @{ 
                                    var arrChecked = new List<string>();
                                    var arrHideClass = new List<string>();
                                    foreach (bool isShowColl in Model.Filters.ShowTableCols)
                                    {
                                        if (isShowColl)
                                        {
                                            arrChecked.Add("checked='checked'");
                                            arrHideClass.Add("");
                                        }
                                        else
                                        {
                                            arrChecked.Add("");
                                            arrHideClass.Add("hide");
                                        }
                                    }
                                }
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[0] id="show-coll-num" class="checkbox-target-col" target-col="0">
                                    <label for="show-coll-num">№</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[1] id="show-coll-position" class="checkbox-target-col" target-col="1">
                                    <label for="show-coll-position">Должность</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[2] id="show-coll-name" class="checkbox-target-col" target-col="2">
                                    <label for="show-coll-name">ФИО</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[3] id="show-coll-education" class="checkbox-target-col" target-col="3">
                                    <label for="show-coll-education">Образование</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[4] id="show-coll-age" class="checkbox-target-col" target-col="4">
                                    <label for="show-coll-age">Возраст</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[5] id="show-coll-salary" class="checkbox-target-col" target-col="5">
                                    <label for="show-coll-salary">Зарплата</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[6] id="show-coll-email" class="checkbox-target-col" target-col="6">
                                    <label for="show-coll-email">Email</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[7] id="show-coll-phone" class="checkbox-target-col" target-col="7">
                                    <label for="show-coll-phone">Телефон</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[8] id="show-coll-сomment" class="checkbox-target-col" target-col="8">
                                    <label for="show-coll-сomment">Комментарий</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[9] id="show-coll-send-date" class="checkbox-target-col" target-col="9">
                                    <label for="show-coll-send-date">Дата отправки</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[10] id="show-coll-komatsu-comment" class="checkbox-target-col" target-col="10">
                                    <label for="show-coll-komatsu-comment">Комментарий от Komatsu</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[11] id="show-coll-army" class="checkbox-target-col" target-col="11">
                                    <label for="show-coll-army">Армия</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[12] id="show-coll-driver" class="checkbox-target-col" target-col="12">
                                    <label for="show-coll-driver">Водитель</label>
                                </div>
                                <div class="block-list-item">
                                    <input type="checkbox" @arrChecked[13] id="show-coll-status" class="checkbox-target-col" target-col="13">
                                    <label for="show-coll-status">Статус</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="content-table">
                    <colgroup>
                        <col table-col-number="0">
                        <col table-col-number="1">
                        <col table-col-number="2">
                        <col table-col-number="3">
                        <col table-col-number="4">
                        <col table-col-number="5">
                        <col table-col-number="6">
                        <col table-col-number="7">
                        <col table-col-number="8">
                        <col table-col-number="9">
                        <col table-col-number="10">
                        <col table-col-number="11">
                        <col table-col-number="12">
                        <col table-col-number="13">
                        <col table-col-number="14">
                    </colgroup>
                    <thead>
                        <tr>
                            <td class="content-table-head @arrHideClass[0]" col-number="0">№</td>
                            <td class="content-table-head @arrHideClass[1]" col-number="1">Должность</td>
                            <td class="content-table-head @arrHideClass[2]" col-number="2">ФИО</td>
                            <td class="content-table-head @arrHideClass[3]" col-number="3">Образование</td>
                            <td class="content-table-head @arrHideClass[4]" col-number="4">Возраст</td>
                            <td class="content-table-head @arrHideClass[5]" col-number="5">Зарплата</td>
                            <td class="content-table-head @arrHideClass[6]" col-number="6">Email</td>
                            <td class="content-table-head @arrHideClass[7]" col-number="7">Телефон</td>
                            <td class="content-table-head @arrHideClass[8]" col-number="8">Комментарий</td>
                            <td class="content-table-head @arrHideClass[9]" col-number="9">Дата отправки</td>
                            <td class="content-table-head @arrHideClass[10]" col-number="10">Комментарий от Komatsu</td>
                            <td class="content-table-head @arrHideClass[11]" col-number="11">Армия</td>
                            <td class="content-table-head @arrHideClass[12]" col-number="12">Водитель</td>
                            <td class="content-table-head @arrHideClass[13]" col-number="13">Статус</td>
                            <td class="content-table-head" col-number="14">Посмотреть</td>
                        </tr>
                    </thead>
                    <tbody id="content-table-body">
                        @{
                            int number = 0;
                            int numberRow = Model.Filters.Page * Model.Filters.PageSize + 1 - Model.Filters.PageSize;
                        }
                        @foreach (RecordViewModel record in Model.Records)
                        {
                            <tr class="table-row" table-row-number="@number">
                                <td col-number="0" class="@arrHideClass[0]">
                                    <div class="responsive-table-text"><span>@numberRow</span></div>
                                    <div col-number="0" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="1" class="@arrHideClass[1]">
                                    <div class="responsive-table-text"><span>@record.Vacancy</span></div>
                                    <div col-number="1" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="2" class="@arrHideClass[2]">
                                    <div class="responsive-table-text"><span>@record.Title @record.FirstName @record.SurName</span></div>
                                    <div col-number="2" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="3" class="@arrHideClass[3]">
                                    <div class="responsive-table-text"><span>@record.EducationAvailable.Name</span></div>
                                    <div col-number="3" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="4" class="@arrHideClass[4]">
                                    <div class="responsive-table-text"><span>@record.Age</span></div>
                                    <div col-number="4" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="5" class="@arrHideClass[5]">
                                    <div class="responsive-table-text"><span>@record.Salary</span></div>
                                    <div col-number="5" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="6" class="@arrHideClass[6]">
                                    <div class="responsive-table-text"><span>@record.Email</span></div>
                                    <div col-number="6" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="7" class="@arrHideClass[7]">
                                    <div class="responsive-table-text"><span>@record.Phone</span></div>
                                    <div col-number="7" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="8" class="@arrHideClass[8]">
                                    <div class="responsive-table-text"><span>@record.Comment</span></div>
                                    <div col-number="8" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="9" class="@arrHideClass[9]">
                                    <div class="responsive-table-text"><span>@record.SendDate</span></div>
                                    <div col-number="9" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="10" class="@arrHideClass[10]">
                                    <div class="responsive-table-text"><span>@record.KomatsuComment</span></div>
                                    <div col-number="10" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="11" class="@arrHideClass[11]">
                                    <div class="responsive-table-text"><span>@record.Army</span></div>
                                    <div col-number="11" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="12" class="@arrHideClass[12]">
                                    <div class="responsive-table-text"><span>@record.Driver</span></div>
                                    <div col-number="12" class="responsive-table-col"></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="13" class="@arrHideClass[13]" style="color: #fff; background: @record.Status.Color;">
                                    <div class="responsive-table-text"><span>@record.Status.Status</span></div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                                <td col-number="14">
                                    <div class="responsive-table-text">
                                        <a class="single-record-link" id-record="@record.Id">Посмотреть</a>
                                    </div>
                                    <div row-number="@number" class="responsive-table-row"></div>
                                </td>
                            </tr>
                            number = number + 1;
                            numberRow = numberRow + 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-panagination">
                    <ul class="panagination-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
